@import "tailwindcss";


* {
  margin: 0px;
  padding: 1px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0 !important ;
  color: #3e3e3e !important;
  overflow-x: hidden;
}

p{
  font-size: 14px !important;
  line-height: 25px !important;
}

::-webkit-scrollbar{
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb{
  background:#ff5252;
}

::-webkit-scrollbar-track{
  background: #fff;
}

.container {
  width: 95%;
  margin: auto;
}

.btn-org {
  background: #ff5252 !important;
  color: #fff !important ;
  font-weight: 500 !important ;
  font-size: 16px;
  padding: 7px 20px !important;
}

.btn-org:hover{
  background: #171717 !important;
}


.link:hover {
  color: #ff5252;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}

nav button {
  text-transform: capitalize !important;
}
nav button:hover {
  background: none !important;
}

.sliderHome {
  overflow: inherit !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  box-shadow: 0 1px 3px #0000001f , 0 1px 3px #0000003d !important;
  transition: all 0.2s;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 22px !important;
  color: #000;
}

.smlBtn .swiper-button-prev, .smlBtn .swiper-button-next{

width: 30px !important;
height: 30px !important;
min-width: 30px !important;
top: 55% !important;  

}

.smlBtn  .swiper-button-prev::after,
.smlBtn  .swiper-button-next::after {
  font-size: 18px !important;
  color: #000;
}


.smlBtn .swiper-button-prev:hover, .smlBtn .swiper-button-next:hover{
   background-color: #ff5252 !important;
}

.smlBtn .swiper-button-prev:hover::after, .smlBtn .swiper-button-next:hover::after{
  color: #fff !important;
}



.homeCatslider{
  overflow: inherit !important;
}

.homeCatslider .swiper-button-prev,
.homeCatslider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-height: 30px;
}

.homeCatslider .swiper-button-prev::after,
.homeCatslider .swiper-button-next::after {
  font-size: 16px !important;
}

.homeCatslider .swiper-button-prev {
  left: 10px !important;
}

.homeCatslider .swiper-button-next {
right: 10px !important;
}

.homeCatslider .item{
  border: 1px solid rgba(0,0,0,0.1);
}

.homeCatslider .swiper-button-prev:hover, .homeCatslider .swiper-button-next:hover{
  background-color: #ff5252 !important;
}

.homeCatslider .swiper-button-prev:hover::after,.homeCatslider .swiper-button-next:hover::after {
color: #fff !important;
}

.homeCatslider .item:hover img{
  transform: scale(1.1);
}

.MuiTabs-indicator{
  background-color: #ff5252 !important;
}

.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #ff5252 !important;
}
 

.productsSlide .swiper-wrapper{
  padding: 15px !important;
  margin-left: -15px !important;
  margin-right: -15px !important;
}


footer form input::placeholder{
  font-size: 14px !important;
}


.swiper-pagination-bullet-active{
  background: #ff5252 !important;
}

.homeSliderV2 .swiper-slide-active .info{
  right: 0px !important;
  opacity: 1;
}


.homeSliderV2 .swiper-slide-active .info{
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info h4{
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info h2{
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info h3{
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-slide-active .info .btn_{
  right: 0px !important;
  opacity: 1;
}


.homeSliderV2   .info h4{
  transition-duration: 1.2s;
}
.homeSliderV2   .info h2{
  transition-duration: 1.5s;
}
.homeSliderV2   .info h3{
  transition-duration: 1.8s;
}

.homeSliderV2   .info .btn_{
  transition-duration: 2.1s;
}

.MuiCheckbox-root{
padding: 6px !important;
color: #ff5252 !important;
}
.ReactCollapse--collapse {
  transition: height 400ms;
}


.itemViewActions button.active svg{
  color: #ff5252 !important;
  opacity: 1 !important;

}

.Mui-selected.MuiPaginationItem-page{
  background: #ff5252 !important;
}


.zoomProductSliderThumbs .swiper-slide{
  height: 155px !important;
}

/* .zoomProductSliderThumbs .swiper-button-next{
  bottom: 0px !important;
  right: inherit !important;
  top: inherit !important;
  width: 100% !important;
  height: 30% !important;
  border-radius: 0px !important;

}
.zoomProductSliderThumbs .swiper-button-next::after{
  transform: rotate(90deg) !important;

}

.zoomProductSliderThumbs .swiper-button-prev{
 
  top: 20px !important;
  left: 0px !important;
  width: 100% !important;
  height: 30% !important;
  border-radius: 0px !important;

} */